<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.penint.cloud.server.ques.mapper.IExamQuAnswerMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="vip.penint.cloud.server.ques.entity.ExamQuAnswer">
        <id column="id" property="id"/>
        <result column="exam_id" property="examId"/>
        <result column="answer_id" property="answerId"/>
        <result column="qu_id" property="quId"/>
        <result column="sort" property="sort"/>
        <result column="abc" property="abc"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        exam_id,
        answer_id,
        qu_id,
        sort,
        abc
    </sql>
</mapper>
