<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.penint.cloud.server.ques.mapper.IQuAnswerMapper">
    <resultMap id="BaseResultMap" type="vip.penint.cloud.server.ques.entity.QuAnswer">
        <!--@mbg.generated-->
        <!--@Table t_qu_answer-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="qu_id" jdbcType="VARCHAR" property="quId"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        qu_id,
        content
    </sql>
</mapper>
