<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.penint.cloud.server.busi.mapper.IFinanceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="vip.penint.cloud.server.busi.entity.Finance">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="type" property="type" />
        <result column="amount" property="amount" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, type, amount, create_time
    </sql>

</mapper>
